<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
  Created explicity for the Oculus Quest.
  This is likely not appropriate for other Android-based platforms.
  Maybe we should rename this file and have BuildTiltBrush() rename it to AndroidManifest.xml.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto" package="com.google.tiltbrush"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup">
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:launchMode="singleTask"
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
    </application>
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:version="1"
        android:required="true" />
</manifest>
